.grid{
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px;
    border: 1px outset #222222;
    background-color: #222222 ;
    border-radius: 1%;
    border-color: black;
    padding: 10px;
    width: 40%;
    aspect-ratio: 1 / 1;

}

.grid > .cell {
    padding: 1px;
    background-color: #222222;
    height: 100%;
    width: 100%;
}

/* td{
    height: 200px;
    width: 200px
} */
/* 
.free td{
    background-color: aliceblue;
}


.played td{
    background-color: red;
} */

/* table{
    margin: 10px;
    border: 1px outset #222222;
    background-color: #222222 ;
    border-radius: 1%;
    border-color: black;
    padding: 10px;
;
} */

/* table td{
    border: 1px solid #222222;
    background-color: aliceblue;
}

table input{
    min-width: 100%;
    min-height: 100%;
} */