<p-panel [showHeader]="true" header="Pipes numéricos" class="p-1">

    <p>Pipes numéricos hallados en el Common Module.</p>
    
</p-panel>
    
    <div class="grid mt-2">
    
        <div class="col-12 md:col-4">
            <p-card header="number" subheader="gross income">
                {{ grossIncome | number }}
            </p-card>
        </div>
        <div class="col-12 md:col-4" >
            <p-card header="currency" subheader="net income w/ 4 digits">
                {{ netIncome | currency:"COP":"symbol":"1.4-4" }}
            </p-card>
        </div>
        <div class="col-12 md:col-4" >
            <p-card header="percent" subheader="idk">
                {{ percentage | percent }}
            </p-card>
        </div>
    </div>


