<h1>Buscar por Región</h1>
<hr>

<div class="row">
  <div class="col">
    <!-- SearchBox -->
    <!-- (onValue)="searchByRegion($event)" -->
    <!-- <shared-search-box placeholder="Buscar por Región" 
    (onDebounce)="searchByRegion($event)"></shared-search-box> -->
    <button class="btn mx-2 center"
    *ngFor="let region of regions" (click)="searchByRegion(region)"
    [ngClass]="{ 'btn-outline-primary' : region === selectedRegion }">
      {{ region }}
    </button>
    <hr>
   </div>
</div>

<shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
<countries-table [countries]="countries"></countries-table>
