<h1>Buscar por Región</h1>
<hr>

<div class="row">
  <div class="col">
    <!-- SearchBox -->
    <shared-search-box placeholder="Buscar por Región" (onValue)="searchByRegion($event)"></shared-search-box>
    <hr>
   </div>
</div>

<div class="m-1" *ngIf="countries.length===0; else table" class="alert alert-warning text-center">
  No hay países que mostrar
</div>

<ng-template #table >
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>

        <th>Icon</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Población</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ country.flag }}</td>
        <td><img [src]="country.flags.svg" alt="coutry.name.common"></td>
        <td>{{ country.name.common }}</td>
        <td>{{ country.capital }}</td>
        <td>{{ country.population | number}}</td>
        <td>
          <a [routerLink]="[ '/countries/by', country.cca3 ]"
          >Ver más</a>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <li *ngFor="let country of countries"
        > {{ country.capital }} - {{ country.population }} -->
  <!-- </li> -->
</ng-template>
